@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
    background-color: #DAE7E0; 
  }
}

.quicksand {
  font-family: var(--font-quicksand);
}

.agrandir {
  font-family: var(--font-agrandir);
}

.arimo {
  font-family: var(--font-arimo);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2,h3 {
  font-size: 2rem;
  font-weight: 600;
}