/* styles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #203128;
    color: white;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .navList li a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #203128;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    transition: all 0.5s ease-in-out;
    text-underline-offset: 4px;

  }
  
  .navList li a:hover {
    text-decoration-color: #ffffff;
  }
  